
body{
  background-color: #C0C0C0 ;
  color: black;
  font-family: 'Rockwell', sans-serif;
}
.container{
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.containerUser{
    display: flex;
    flex-direction: column; 
}
h1{
  color: #af1b3f; 
  text-align: center; 
}
@media (min-wdith: 768px){
  .container{
    width: 750px;
  }
}
@media (min-wdith: 992px){
  .container{
    width: 970px;
  }
}
@media (min-wdith: 1200px){
  .container{
    width: 1170px;
  }
}
.row{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-gap:20px;
}
.home{
    background-color: #C0C0C0; 
    overflow:hidden;
}
.home div{
  float:left;
  margin: 15px;
  text-align: center;
}
.createNewChar {
  background-color: #af1b3f;
  height: 175px;
  width: 150px;
  border: 2px solid black;
  border-radius: 20px;
  display: flex;
}
.createNewChar p{
  margin:auto;
  text-align: center;
}
.characterProfile{
  background-color: #C0C0C0;
  height: 175px;
  width: 150px;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  overflow: hidden;
  padding: none;
}
.homeProfPic{
  background-color: #af1b3f;
  height: 90px;
  width: 75px;
  margin: 2px 0px 0px 0px;
}
.homeProfPic img{
  height: 100%;
  width: 100%;
}
.homeCharName{
  color: #af1b3f;
  text-align: center;
  margin: 0px;
  height: 20px;
  width: 100%;
}
.about{
  background-color: #C0C0C0; 
  margin: 20px; 
}
.create{
  background-color: #C0C0C0; 
  margin: 20px; 
}
.user{
  background-color: #C0C0C0; 
  margin: 20px; 
}
.logo{
  width: 202px;
  height:100px;
  float:left;
}
.navBar{
  background-color: #af1b3f;
  overflow:hidden;
  margin:auto;
  height: 100px;
  width:99%;
  line-height: 75px;
}
.navBar a{
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  font-size: 22px;
  text-decoration: none;
}
.navBar a:hover{
  background-color: #C0C0C0;
}
.content {
  grid-area: content;
  display: grid; grid-template-areas:
  "items"; grid-template-columns: 1fr;
}
.items {
  grid-area: items;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(3, 150px);
  grid-template-rows: 150px 150px 150px; }

.items li { margin: 0;
}

.modal {
  display: none; 
  position: fixed;
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  overflow: auto; 
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4); 
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5px auto; 
  border: 1px solid #888;
  width: 80%; 
}
.close {
  position: absolute;
  right: 25px;
  top: 0; 
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

.newUserProfile{
  margin: 40px; 
}

.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}
.form-popup {
  display: none;
  position: fixed;
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
.form-container .btn {
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

.form-container .cancel {
  background-color: red;
}

.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.userProfPic{
  background-color: #af1b3f;
  height: 90px;
  width: 75px;
  margin: 2px 0px 0px 0px;
}

.userProfPic img{
  height: 200%;
  width: 200%;
}

.userProfile{
  background-color: #C0C0C0;
  height: 175px;
  width: 150px;
  border: 2px solid black;
  border-radius: 20px;
  display: block;
  overflow: hidden;
  padding: none;
  margin:40px;
}

.userInfo{
  margin: 50px;
}